:root {
  --void-0: #090a0c;
  --void-1: #0f1114;
  --void-2: #14171b;
  --void-3: #1e2227;

  --grey-0: #5b6472;
  --grey-1: #7b8593;
  --grey-2: #c9cfd6;
  --grey-3: #d6d9de;
  --grey-4: #e1e4e8;
  --grey-5: #eeeff1;

  --signal-dark: #4da6ff;
  --signal-light: #0b5fa5;

  --alert-dark: #ff6b5e;
  --alert-light: #a32a1e;
}
